# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

customer_data_df = pd.read_csv(url)

In [4]:
#n√∫mero de filas y de columnas en la base de datos

customer_data_df.shape

(4008, 11)

In [5]:
#revisamos las primeras 10 filas para hacernos a la idea de c√≥mo es el dataframe de un primer vistazo

customer_data_df.head(10)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81%,28812.0,93.0,1/0/00,Special Auto,Four-Door Car,425.527834

In [6]:
#extrae los tipos de datos definidos por defecto

customer_data_df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [7]:
#extrae los valores √∫nicos por cada valor de dato

customer_data_df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [8]:
#para ver los m√≠nimos datos de esta variable Customer Lifetime Value y ver el rango

customer_data_df["Customer Lifetime Value"].sort_values()

718     1006460.83%
459     1011077.82%
926     1011544.62%
981     1016936.98%
1025    1017133.90%
           ...
4003            NaN
4004            NaN
4005            NaN
4006            NaN
4007            NaN
Name: Customer Lifetime Value, Length: 4008, dtype: object

In [9]:
#para ver los m√°ximos datos de esta variable Customer Lifetime Value y ver el rango

customer_data_df["Customer Lifetime Value"].sort_values(ascending=False)

196     995170.77%
183     994230.48%
750     992704.97%
682     988038.58%
444     987729.57%
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: Customer Lifetime Value, Length: 4008, dtype: object

In [10]:
#para ver los m√≠nimos datos de esta variable Number of Open Complaints y ver el rango


customer_data_df["Number of Open Complaints"].sort_values()

0       1/0/00
662     1/0/00
664     1/0/00
665     1/0/00
667     1/0/00
         ...
4003       NaN
4004       NaN
4005       NaN
4006       NaN
4007       NaN
Name: Number of Open Complaints, Length: 4008, dtype: object

In [11]:
#para ver los m√°ximos datos de esta variable Number of Open Complaints y ver el rango

customer_data_df["Number of Open Complaints"].sort_values(ascending=False)

645     1/5/00
243     1/5/00
899     1/5/00
86      1/5/00
403     1/5/00
         ...
4003       NaN
4004       NaN
4005       NaN
4006       NaN
4007       NaN
Name: Number of Open Complaints, Length: 4008, dtype: object

In [12]:
#vemos las estad√≠sticas de todas las columnas

customer_data_df.describe(include="all")

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,1071,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000
unique,1071,8,5,6,1027,NaN,NaN,6,3,6,NaN
top,RB50392,Oregon,F,Bachelor,445811.34%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN
freq,1,320,457,324,4,NaN,NaN,830,780,576,NaN
mean,NaN,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909
std,NaN,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260
min,NaN,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107
25%,NaN,NaN,NaN,NaN,NaN,14072.000000,68.000000,NaN,NaN,NaN,202.157702
50%,NaN,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129
75%,NaN,NaN,NaN,NaN,NaN,64631.000000,109.500000,NaN,NaN,NaN,532.800000
max,NaN,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678

In [13]:
#analiza los distintos tipos de valores que adquiere la variable GENDER y el n√∫mero de clientes asociados a cada una.

gender_count = customer_data_df.value_counts("GENDER")
gender_count

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [14]:
#analiza los distintos tipos de valores que adquiere la variable ST y el n√∫mero de clientes asociados a cada una.

state = customer_data_df.value_counts("ST")
state

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [15]:
#analiza los distintos tipos de valores que adquiere la variable Education y el n√∫mero de clientes asociados a cada una.

education_level= customer_data_df.value_counts("Education")
education_level

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

In [16]:
#analiza los distintos tipos de valores que adquiere la variable Policy Type y el n√∫mero de clientes asociados a cada una.

policy = customer_data_df.value_counts("Policy Type")
policy

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [17]:
#analiza los distintos tipos de valores que adquiere la variable Vehicle Class y el n√∫mero de clientes asociados a cada una.

vehicle = customer_data_df.value_counts("Vehicle Class")
vehicle

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

In [18]:
#AN√ÅLISIS VALORES CATEG√ìRICOS

#son categoricos aquellos valores que tienen un n√∫mero peque√±o de valores √∫nicos: ST, GENDER, Education, Policy type y Vehicle Class.
#Number of Open Complaints tiene un n√∫mero peque√±o de valores √∫nicos, sin embargo, como se refiere al n√∫mero de quejas del usuario, es en realidad un dato num√©rico discreto.

In [19]:
#AN√ÅLISIS VALORES NUM√âRICOS

#Hay 1071 clientes en total.
#Customer Lifetime Value tiene un valor m√≠nimo de 1006460.83% y m√°ximo de 995170.77% y tiene 1027 valores √∫nicos.
#Income tiene un valor m√≠nimo de 0 y un valor m√°ximo de 99960 y tiene 774 valores √∫nicos.
#Total Claimm Amount tiene un valor m√≠nimo de 0.38 y un valor m√°ximo de 2893.239678 y tiene 761 valores √∫nicos.
#Monthly Premium Auto tiene un valor m√≠nimo de 61 y m√°ximo de 35354 y tiene 132 valores √∫nicos..
#Number of Open Complaints tiene un valor m√≠nimo de 1 y m√°ximo de 1/5/00, entendiendo que esto significa 5 y tiene 6 valores √∫nicos.

In [20]:
#Customer Lifetime Value es un dato num√©rico de tipo continuo en lugar de un objeto, ya que se trata de un porcentaje.
#Monthly Premium Auto es un dato num√©rico discreto y no continuo.
#Number of Open Complaints es un dato num√©rico discreto y no un objeto.

#Adem√°s, creo que ser√≠a √∫til distinguir entre datos num√©ricos (continuos o discretos) y categ√≥ricos (ordinales o nominales) siguiendo el siguiente esquema:

In [21]:
#La divisi√≥n de datos quedar√≠a de la siguiente manera:

numerical_continuous_vars = ["Customer Lifetime Value", "Income", "Total Claim Amount"]

numerical_discrete_vars = ["Customer", "Monthly Premium Auto", "Number of Open Complaints"]

categorical_ordinal_vars = ["Education", "Policy Type", "Vehicle Class"]

categorical_nominal_vars = ["Customer", "ST", "GENDER"]

In [22]:
#CONCLUSIONES FINALES

#Hay 1071 clientes de 8 estados distintos (320 de Oreg√≥n, 211 de California, 186 de Arizona + AZ suponiendo que AZ sea lo mismo, 120 de Cali, 98 de Nevada, 81 de Washington + 30 suponiendo que WA sea lo mismo )
#Hay algo m√°s de mujeres (502-47%) que de hombres (452-42%) y 11% de sexo desconocido. 
#La mayor parte tiene un Bachelor (333-31%) o ha ido a la universidad (313-29%) frente a los que han terminado High School (296-28%), un M√°ster (94-9%), un doctorado (37-3%).
#La mayor parte de clientes tienen contratada la pol√≠za personal (780-73%), 234 la corporativa (22%) y tan solo un 5% (57) la especial.
#54%-576 clientes tienen un coche de 4 puertas, 19%-205 un coche de dos puertas, 19%-199 un SUV, 5%-57 un coche deportivo, 2%-20 un SUV de lujo y 1%-14 un coche de lujo.
#El ingreso medio es de 39295 y tanto la desviaci√≥n est√°ndar como la mediana est√°n muy cerca (30469 y 36234 respectivamente) por lo que la mayor parte de ingresos est√°n en ese rango. No obstante, tambi√©n los hay de 0 y de 99960.
#Monthly premium tiene un rango de amplitud muy alto con un valor m√≠nimo de 61 y m√°ximo de 35354, un desviaci√≥n est√°ndar de 1601 y una mediana de 83. Por lo que la mayor parte de valores son bajos.
#El n√∫mero de casos abiertos va de 1 a 5 con usuarios que no tienen ninguno abierto.
#La cantidad media solicitada es de 404 y el m√°ximo de 2893. La mediana est√° en 354 y la desviaci√≥n t√≠pica en 293. Por lo que la mayor parte de las cantidades solicitadas son bajas.

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [23]:
#creamos la variable de los datos que queremos agrupar

values_to_combine = {
    "Cali": "California",
    "WA": "Washington",
    "AZ": "Arizona"
}

In [24]:
#usamos la funci√≥n replace() para reemplazar los datos antiguos por los nuevos

customer_data_df["ST"] = customer_data_df["ST"].replace(values_to_combine)

In [25]:
#revisamos la ubbicaciones y su frecuencia y vemos que hay valores duplicados

state = customer_data_df.value_counts("ST")
state

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [26]:
#comprobamos que solo hay 5 ubicaciones y que la m√°s com√∫n es California
state.iloc[-5:]

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [39]:
#utilizamos el m√©todo value_counts para sumar los diferentes tupos de p√≥lizas contratadas.
#con el m√©todo idxmax() vemos que el tipo de p√≥liza m√°s contratada es la personal.

policy = customer_data_df.value_counts("Policy Type")

highest_policy_type = policy.idxmax()

print("The highest policy type is: ", highest_policy_type)

The highest policy type is:  Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [33]:
#creo un dataframe conteniendo solo las polizas personales y aplico la funci√≥n decribe para ver la media de ingresos de los que contratan este tipo de p√≥liza
#veo que la media es 38180 
personal_auto_policy = customer_data_df.loc[customer_data_df["Policy Type"] == "Personal Auto"] 
personal_auto_policy.describe()

average_personal_auto_policy = round(personal_auto_policy['Income'].mean(), 2)

average_personal_auto_policy

print("Los que han contratado la p√≥liza personal tienen unos ingresos de media de: ", average_personal_auto_policy)

Los que han contratado la p√≥liza personal tienen unos ingresos de media de:  38180.7

In [35]:
#creo un dataframe conteniendo solo las polizas corporativas y aplico la funci√≥n decribe para ver la media de ingresos de los que contratan este tipo de p√≥liza
#veo que la media es 41390 
corporate_auto_policy = customer_data_df.loc[customer_data_df["Policy Type"] == "Corporate Auto"] 
corporate_auto_policy.describe()

average_corporate_auto_policy = round(corporate_auto_policy["Income"].mean(), 2)

average_corporate_auto_policy

print("Los que han contratado la p√≥liza corporativa tienen unos ingresos de media de: ", average_corporate_auto_policy)

Los que han contratado la p√≥liza corporativa tienen unos ingresos de media de:  41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
#Mira las estad√≠sticas para el total de cantidades reclamadas y customer lifetume valie

print("Total Claim Amount Stats: ")

In [ ]:
#define threshold values for high claim amount and low customer lifetime value

high_claim_amount = df["total_claim_amount"].quantile(0.75)

#filter the data to identify customers with high claim amount

df_high = df[(df["total_claim_amount"] > high_claim_amount)]

#calculate summary for the filtered data

print("n\Summaru Statistics for High Claim Amount and Low Income Customers:")
print(df_high["Total "])